.install-status {
	margin: 2rem 0 2rem 0;
	font-size: .75rem;
}

.page-link {
  display: block;
}

.maze__layout {
  display: grid;
  grid-template-columns: auto;

  @media (min-width: 1440px) {
    grid-template-columns: auto 1fr;
    max-width: 1400px;
  }

  .maze__desc {
    padding: 1rem;
  }
}

.app-briefing {
  display: grid;
  grid-template-areas:
    "hero"
    "desc"
    "dl";
  background: var(--color-bg-dark);
  color: var(--color-txt-dark-primary);
  padding: var(--spacing-unit);

  .app-briefing__hero {
    grid-area: hero;
  }

  .app-briefing__desc {
    grid-area: desc;
    font-size: 1rem;
    padding: var(--spacing-unit);
  }

  .app-briefing__dl {
    grid-area: dl;
    font-size: 1rem;
    padding: var(--spacing-unit);
    max-width: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    dt {
      color: var(--color-txt-dark-secondary);
    }

    dd {
      color: var(--color-txt-dark-highlight);
    }
  }

  @media (min-width: 800px) {
    grid-template-areas:
      "hero desc"
      "hero dl";
  }
}

.warning {
  margin-top: var(--spacing-unit);
  display: inline-block;
  padding: var(--spacing-unit);
  border: solid 2px orange;
  border-radius: 5px;
  color: var(--color-txt-light-primary);
  background: var(--color-bg-light-offset);

  h4 {
    font-weight: bold;
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}