:root {
  --font-family-content: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-header: "Lora", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --max-width-content: 1440px;
  --spacing-unit: 1rem;
}

body {
  background: var(--color-bg-light);
  color: var(--color-txt-primary);
  font-size: 1.5em;
  font-family: var(--font-family-content);
}

a:link, a:visited {
  color: var(--color-fg-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-family-header);
}

p {
  margin-top: 2rem;
}

.page-main {
  min-height: 65vh;
}

.shift-down {
  display: block;
  margin-top: 3rem;
}