@import './reset';
@import './root';
@import './colors';

.page-header {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);

  a:link, a:visited {
    padding-right: var(--spacing-unit);
    text-decoration: none;
  }

  &__header {
    font-size: 3rem;
    font-family: var(--font-family-header);
  }

  nav {
    font-weight: normal;
  }

  &--minimal {
    display: flex;
    flex-flow: row wrap;

    .page-header__header {
      font-size: 1.5rem;
    }

    nav {
      flex: 1;
      text-align: right;
    }
  }
}

.page-main {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);
}

.page-footer {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);
}

.button--primary, button {
  display: inline-block;

  padding: .5rem;
  border: none;

  font-size: 2rem;
  background: var(--color-fg-primary);
  border-radius: 5px;
  text-decoration: none;

  &:link, &:visited {
    color: var(--color-txt-dark-primary);
  };
}

.app-card {
  padding: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);

  display: grid;
  grid-template-areas:
    "logo title"
    "logo slogan"
    "desc desc"
    "cta cta";
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--spacing-unit);
  grid-row-gap: var(--spacing-unit);

  background: var(--color-bg-light-offset);
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ccc;

  .app-card__logo {
    grid-area: logo;
    max-width: 5rem;
    min-width: 5rem;
    align-self: center;
  }

  .app-card__title {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
  }

  .app-card__slogan {
    grid-area: slogan;
    color: var(--color-txt-primary);
    margin: 0;
  }

  .app-card__desc {
    grid-area: desc;
    color: var(--color-txt-primary);
    margin: 0;
  }

  .app-card__cta {
    grid-area: cta;
    margin: 0;
    display: inherit;
    align-content: center;
    text-align: center;
  }

  @media(min-width: 1440px) {
    grid-template-areas:
      "logo title desc cta"
      "logo slogan desc cta";
    grid-template-columns: 5rem auto 50% auto;
  }
}

.two-column {
  display: grid;
  grid-template-areas:
    "col1"
    "col2";
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-unit) var(--spacing-unit);

  .two-column__col-one {
    grid-area: col1;
  }

  .two-column__col-two {
    grid-area: col2;
  }

  @media(min-width: 1440px) {
    grid-template-areas:
      "col1 col2";
    grid-template-columns: 1fr 1fr;
  }
}

.home-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  @media (min-width: 1440px) {
    bottom: auto;
    top: 0;
  }

  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.home-layout ~ footer {
  display: none;
}