@import './reset';
@import './root';
@import './colors';

.page-header {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);

  a:link, a:visited {
    padding-right: var(--spacing-unit);
    text-decoration: none;
  }

  &__header {
    font-size: 3rem;
    font-family: var(--font-family-header);
  }

  nav {
    font-weight: normal;
  }

  &--minimal {
    display: flex;
    flex-flow: row wrap;

    .page-header__header {
      font-size: 1.5rem;
    }

    nav {
      flex: 1;
      text-align: right;
    }
  }
}

.page-main {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);
}

.page-footer {
  margin: 0 auto;

  max-width: var(--max-width-content);
  padding: var(--spacing-unit);
}

.button--primary, button {
  display: inline-block;

  padding: .5rem;
  border: none;

  font-size: 2rem;
  background: var(--color-fg-primary);
  border-radius: 5px;
  text-decoration: none;

  &:link, &:visited {
    color: var(--color-txt-dark-primary);
  };
}