.app-header {
  padding: 1rem;
  border-bottom: solid 2px var(--color-bg-dark);
  font-size: 2rem;
  font-weight: bold;
  background: var(--color-bg-light-offset);
  color: var(--color-txt-secondary);
  text-align: center;
}

.app-content {
  margin: 1rem;
}

.app-footer {
  display: inline-block;
  max-width: var(--max-width-content);
  margin: var(--spacing-unit);

  font-size: .75rem;
  color: var(--color-txt-primary);
}

.app-layout__content {
  max-width: 50rem;
  margin: 0 auto;

  h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 4rem 0;
  }

  h4 {
    font-weight: bold;
    margin-top: 4rem;
  }

  a:link, a:visited {
    text-decoration: none;
  }
}