.maze {
  height: 90vw;
  width: 90vw;
  max-height: 80vh;
  max-width: 80vh;
  margin: 0 auto;
  clear: both;

  display: grid;
  grid-auto-rows: 1fr;
  background: center center no-repeat no-repeat;
  background-size: cover;
}

.maze__cell {
  background: var(--color-fg-secondary);
  display: inline-block;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(0,0,0,0);
}

.maze__cell--left {
  border-left-color: var(--color-txt-primary);
}

.maze__cell--right {
  border-right-color: var(--color-txt-primary);
}

.maze__cell--top {
  border-top-color: var(--color-txt-primary);

}

.maze__cell--bottom {
  border-bottom-color: var(--color-txt-primary);
}

.maze__cell--visited {
  background: none;
}

.maze__cell--active-path {
  background: var(--color-fg-primary);
}

.maze__cell--path {
  background: var(--color-fg-primary);
}

.maze__controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.maze__control {
  padding: .25rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}